<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Ndobae</title>

 		<!-- Google font -->
 		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

 		<!-- Bootstrap -->
 		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>

 		<!-- Slick -->
 		<link type="text/css" rel="stylesheet" href="/css/slick.css"/>
 		<link type="text/css" rel="stylesheet" href="/css/slick-theme.css"/>

 		<!-- nouislider -->
 		<link type="text/css" rel="stylesheet" href="/css/nouislider.min.css"/>

 		<!-- Font Awesome Icon -->
 		<link rel="stylesheet" href="/css/font-awesome.min.css">

 		<!-- Custom stlylesheet -->
 		<link type="text/css" rel="stylesheet" href="/css/style.css"/>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

    </head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- MAIN HEADER -->
				<div id="header">
					<!-- container -->
					<div class="container">
						<!-- row -->
						<div class="row">
							<!-- LOGO -->
							<div class="col-md-3">
								<div class="header-logo">
									<a href="/" class="logo">
										<h3 style="color:whitesmoke">Ndobae</h3>
									</a>
								</div>
							</div>
							<!-- /LOGO -->
	
							
	
							<!-- ACCOUNT -->
							<div class="col-md-9 clearfix">
								<div class="header-ctn">
								
									<!-- Cart -->
									<div class="dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
											<i class="fa fa-shopping-cart"></i>
											<span>Your Cart</span>
											<div class="qty"><%=dataT.length%></div>
										</a>
										
										<div class="cart-dropdown">
												
											<div class="cart-list">
											
												<%dataT.forEach(function(item){%>
												<div class="product-widget">
													<div class="product-img">
														<img src="/../uploads/<%=item.photo%>" alt="">
													</div>
													
													<div class="product-body">
														<h3 class="product-name"><a href="#"><%=item.name%></a></h3>
														<h4 class="product-price"><span class="qty"><%=item.qty%></span>x</span>GH₵<%=item.price%></h4>
													</div>
													
												</div>
												<%});%>
									
											</div>
											<div class="cart-summary">
												<small>2 Item(s) selected</small>
												<h5>SUBTOTAL: GH₵<%=Total%>.</h5>
											</div>
											<div class="cart-btns">
												<a href="/empty_cart">Empty Cart</a>
												<a href="/checkout">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
											</div>
										</div>
									</div>
									<!-- /Cart -->
	
								</div>
							</div>
							<!-- /ACCOUNT -->
						</div>
						<!-- row -->
					</div>
					<!-- container -->
				</div>
				<!-- /MAIN HEADER -->
			</header>
			<!-- /HEADER -->
		
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					
					<div class="col-md-5">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="/../uploads/<%=data.prodimage%>" alt="">
							</div>
						</div>
					</div>
					<!-- /Product main img -->


					<!-- Product details -->
					<p></p>
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name"><%=data.prodname%></h2>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								
							</div>
							<div>
								<h3 class="product-price">GH₵<%=data.prodprice%> </h3>
								<span class="product-available">In Stock</span>
							</div>
							<p><%=data.prod_des%></p>

							<div class="add-to-cart">
							<form method = "POST" action="/add_Checkout">
								<input type="hidden" name="prodname" value="<%=data.prodname%>"/>	
								<input type="hidden" name="prodimage" value="<%=data.prodimage%>"/>
								<input type="hidden" name="prodprice" value="<%=data.prodprice%>"/>
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</form>

						</div>
					</div>
					<!-- /Product details -->
					
					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li><a data-toggle="tab" href="#tab3"> Add Review</a></li>
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">
											You can add a review here
										</div>
									</div>
								</div>
								<!-- /tab1  -->

								<div id="tab3" class="tab-pane fade in">
									<div class="row">
										

										<!-- Review Form -->
										<div class="col-md-12">
											<div id="review-form">
												<form class="review-form" action="/anylizer" method="POST">
													<input class="input" type="text" name="name" placeholder="Your Name">
													<input class="input" type="email" name="email" placeholder="Your Email">
													<textarea class="input" name="coments" placeholder="Your Review"></textarea>
													<div class="input-rating">
														<span>Your Rating: </span>
														<div class="stars">
															<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
															<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
															<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
															<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
															<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
														</div>
													</div>
													<button class="primary-btn">Submit</button>
												</form>
											</div>
										</div>
										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		
		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-6 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<p>Ndobae seeks to connects both the farmer and the consumer.</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>Ghana </a></li>
									<li><a href="#"><i class="fa fa-phone"></i>+233546611117</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>konlanmikpekoah.km@gmail.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-6 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categories</h3>
								<ul class="footer-links">
									<li><a href="/category/Breakfast">Breakfast</a></li>
									<li><a href="/category/Lunch">Lunch</a></li>
									<li><a href="/category/Supper">Supper</a></li>
								</ul>
							</div>
						</div>

					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<span class="copyright">
								
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Ndobae
							
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/slick.min.js"></script>
		<script src="/js/nouislider.min.js"></script>
		<script src="/js/jquery.zoom.min.js"></script>
		<script src="/js/main.js"></script>

	</body>
</html>
